/**********
***********Main
**********/

$default: #cecece;
$primary: #ccc;
$info: rgb(252, 180, 180);
$success: #ccc;
$danger: #ccc;
$warning: #ccc;

/**********
*********** Grey Scale
**********/


/**********
*********** Main Scale
**********/